include LICENSE
include README.md
include requirements.txt

recursive-include docs *
prune docs/_build

include src/gspack/templates/run_autograder
include src/gspack/templates/setup.sh
include src/gspack/templates/run_tests.py

recursive-include src/gspack *.py
recursive-include tests *.py